<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dartscorer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dartboard_full_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dartboard_full_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".three01Winner"
            android:parentActivityName=".threezeroone" />
        <activity
            android:name=".CricketWinner"
            android:parentActivityName=".Cricket" />
        <activity
            android:name=".threezeroone"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".namesSelect"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cricket"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".namesSelect"
            android:screenOrientation="portrait" />
        <activity
            android:name=".namesSelect"
            android:parentActivityName=".playerSelect" />
        <activity
            android:name=".playerSelect"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>